<<<<<<< HEAD
<div class="container">
=======
>>>>>>> f918c4afd076216ea7bf4436dc327385912192a0
<h1>All Users</h1>
<% @user.each do |a| %>
  <p>First Name: <%= a.first_name %>
  <p>Last Name: <%= a.last_name %>
  <p>Email Address: <%= a.email %>
  <p>University or School: <%= a.university_or_school %>
<% end %>
<<<<<<< HEAD
</div>
=======
>>>>>>> f918c4afd076216ea7bf4436dc327385912192a0
